@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Merriweather:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap');

.logo-text {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}