@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-body-bg: #222;
    --color-primary-bg: #bbcdff;
    --color-text: #fff;
    --color-primary: #FFB61A;
    --color-secondary-bg: #323232;
    --color-secondary-bg-for-transparent: hsla(0, 0%, 100%, 0.08);
    --color-primary-bg-for-transparent: hsla(0, 0%, 100%, 0.12);
    --color-navbar-bg: #ffffff;
    --color-player-slider: hsla(0, 0%, 50.2%, .18);
}

